:root{
    --main-color : #2E6BC6;
}
body{
    font-family: "Host Grotesk", sans-serif !important;
  font-optical-sizing: auto !important;
}
.nested-list{
    transition: all 0.6s;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    z-index: -2;
}

.nav-li:hover  .nested-list{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.nav-li{
    cursor: pointer;
    white-space:no-wrap;
    font-size: 0.9rem;
}

.nested-list li:hover{
    color: rgba(33, 33, 207, 0.834);
}

.text-xsm{
    font-size: 0.5rem !important;
}