:root{
    --main-color : #2E6BC6;
}
body{
    font-family: "Host Grotesk", sans-serif !important;
  font-optical-sizing: auto !important;
}
.nested-list{
    transition: all 0.6s;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    z-index: -2;
    z-index: 444;
}

.nav-li:hover  .nested-list{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.nav-li{
    cursor: pointer;
    white-space:no-wrap;
    font-size: 0.9rem;
}

.nested-list li:hover{
    color: rgba(33, 33, 207, 0.834);
}

.text-xsm{
    font-size: 0.5rem !important;
}

.inner-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.categories li:hover{
    color: #2E6BC6 !important;
    cursor: pointer;
    
}


.cat::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #2E6BC6;
    display: block;
}

.menu::after{
    content: '';
    width: 0;
    height: 3px;
    display: block;
    background-color: #2E6BC6;
    transition: all 0.3s;
}

.menu:hover::after{
    width: 100%;
}


.add-line::after{
    content: '';
    width: 100%;
    height: 3px;
    display: block;
    background-color: #2E6BC6;
    transition: all 0.3s;
}

.sidebar{
    visibility: hidden;
    transition: all 0.1s;
}
.sidebar-menu{
transform:translateX(-100%);
transition: all 0.3s;
}

.hero-content{
    /* margin-left: 10rem !important; */
}

.hero-image{
    transition: all 0.8s !important;
}
.hero-content{
    transition: all 0.8s !important;
    transform: translate(300px,400px);
    opacity: 0;
    /* scale: 0.3; */
}

.move-content{
    transform: translate(0,0) !important;
    opacity: 1;
    scale: 1;
}

@media (max-width:768px){
    .hero-content h1,.hero-content p{
        margin: 1rem auto !important;
    }
}